*{
    margin: 0 auto;
    padding: 0 auto;
}

#contenedor{
    display: flexbox;
    background-color: bisque;
    border-radius: 40px;
    border: solid 1px black;
    margin-top: 5%;
    margin-left: 28%;
    margin-right: 5%;
    margin-bottom: 5%;
    max-width: 900px;
    align-items: center;
}



.texto{
    text-align: left;
    color: black;
    padding-left: 5%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: azure;
    max-width: 600px;
    display: flexbox;
}

.titulo1{
    padding: 5%;
    text-align: center;
}


.boton{
    display: flexbox;
    width: 100px;
    margin-left: 45%;
    margin-bottom: 2%;
    align-items: center;
}